body {
  background: white;
  color: black;
  font-family: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
}
#header {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 60px;
  align-items: center;
  margin: 0 auto 10px;
}
#content {
  background: #EAEAEA;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 3px;
}
#logo {
  height: 40px;
}
#login {
  margin-left: auto;
}
#footer {
    background-color: #EAEAEA;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    position: relative;
    margin: 10px 0 0 0;
    padding: 5px 0;
}
.timecard-day {
  display: inline-block;
}
