{{define "content"}}
<div ondragstart="return false;" ondrop="return false;" style="width: 100%; margin: 0;">
    <hr style=" height: 5px; border: 0; box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5); margin: 0; margin-bottom: 5px;" />
    <div style="width: 100%; margin: 0;
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer */
                -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
                -webkit-user-select: none; /* Chrome, Safari, and Opera */
                -webkit-touch-callout: none; /* Disable Android and iOS callouts*/">
        <table class="timecard-day-table">
            <tr>
                {{range $day := .Days}}
                <!-- day ids are templated -->
                <td id="timecard-day-{{.}}" class="timecard-day" onmouseup="updateDayHours(this);" onmouseleave="updateDayHours(this);">
                    <div class="timecard-day-header">
                        <div class="day-header-date" style="font-weight: bold;">1/1/00</div>
                        <div class="day-header-weekday" style="font-weight: bold;">Monday</div>
                        <div class="day-header-hours" style="font-weight: bold;">Hours: 0</div>
                    </div>
                    <div style="background: #666; width: 100%; height: 1px;"></div>
                    <div>
                        <table class="timecard-hour-table">
                            {{range $hour := $.Hours}}
                            <tr>
                                <!-- TODO: figure out how to associate actual timestamp with cell -->
                                <td class="timecard-cell" onmouseover="tdMouseOver(this);" onmouseup="tdMouseUp(this);" onmousedown="tdMouseDown(this);">
                                    <div>{{.}}:00pm</div>
                                </td>
                            </tr>
                            {{end}}
                        </table>
                    </div>
                </td>
                {{end}}
            </tr>
        </table>
    </div>
</div>
{{end}}